/*[class*="fontawesome-"]:before { font-family: 'FontAwesome', sans-serif; }*/
@import url('/css/icon-font.css');

body, html { height: 100%; margin: 0; padding: 0; overflow: hidden;}

#overlay { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 5; }

a#coordinates-toggle { text-decoration: none; color: #fff; transition: all 0.2s; }

#set-coordinates { font-size: 10px; }
#set-coordinates input[type="text"] { display: inline-block; max-width: 50px; }
#coordinates_container { text-align: center; display: table; margin: 0 auto; max-width: 225px; display: inline-block; font-size: 12px; }
.accordion-container { padding: 10px; }

#map { position: absolute; top: 0; left: 0; bottom: 0; right:0;  height: 100%;  width: 100%; z-index: 1000;}

#sidebar{
    position: relative;
    float: right;
    width : 100%;
    max-width: 265px;
    height: 100%;
}

#toggle { width: 30px; height: 100px;
                    position: relative;
                    float: left;
                    left: -40px;
                    background-color: rgba(0, 0, 0, 0.7); color: white; text-align: center; padding-top: 40px; z-index: 5000;}

.accordion-body { border-bottom: 1px solid white; max-height: 200px; overflow-y: scroll; }

#info-bar {
    position: relative;
    float:right;
    width : 90%;
    /* top: 0; right: 0px; bottom: 0px;*/
    /*min-width: 259px;*/
    border-left: 1px solid #333;
    padding: 10px;
    color: #ddd;
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 100%;
    z-index: 5000;
}

input[type="submit"], input[type="button"] { background-color: #0074D9; border-radius: 3px; transition: all 0.2s; }
input[type="submit"]:hover, input[type="button"]:hover { background-color: #0088ff; transition: all 0.2s;}

/* Scrollbar Chrome */
::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(225,225,225,0.3); }
::-webkit-scrollbar-thumb { -webkit-box-shadow: inset 0 0 6px rgba(225,225,225,0.5); }


/* Leaflet shiznit */
.leaflet-map-pane { z-index: 1000; }

/*  Google autocompletion thingy */
.pac-container { z-index: 10000; }
