@charset "UTF-8";

@font-face {
  font-family: "iconfont";
  src:url("fonts/iconfont.eot");
  src:url("fonts/iconfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/iconfont.woff") format("woff"),
    url("fonts/iconfont.ttf") format("truetype"),
    url("fonts/iconfont.svg#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "iconfont" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="fa-"]:before,
[class*=" fa-"]:before {
  font-family: "iconfont" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-login:before {
  content: "a";
}
.fa-chat:before {
  content: "t";
}
.fa-comment:before {
  content: "u";
}
.fa-align-justify:before {
  content: "x";
}
.fa-align-justify-1:before {
  content: "y";
}
.fa-align-left:before {
  content: "z";
}
.fa-align-right:before {
  content: "A";
}
.fa-angle-double-up:before {
  content: "B";
}
.fa-angle-left:before {
  content: "C";
}
.fa-angle-right:before {
  content: "D";
}
.fa-angle-up:before {
  content: "E";
}
.fa-angle-down:before {
  content: "F";
}
.fa-angle-double-down:before {
  content: "G";
}
.fa-bold:before {
  content: "H";
}
.fa-call-phone:before {
  content: "I";
}
.fa-edit-write:before {
  content: "J";
}
.fa-camera:before {
  content: "L";
}
.fa-exclamation-triangle:before {
  content: "K";
}
.fa-gears-setting:before {
  content: "M";
}
.fa-list-bullet:before {
  content: "N";
}
.fa-list-number:before {
  content: "O";
}
.fa-italic:before {
  content: "P";
}
.fa-save-disk:before {
  content: "Q";
}
.fa-quote-left:before {
  content: "R";
}
.fa-quote-right:before {
  content: "S";
}
.fa-pencil:before {
  content: "T";
}
.fa-text-height:before {
  content: "U";
}
.fa-underline:before {
  content: "V";
}
.fa-photo-1:before {
  content: "W";
}
.fa-rocket:before {
  content: "X";
}
.fa-link:before {
  content: "Y";
}
.fa-font:before {
  content: "Z";
}
.fa-code:before {
  content: "0";
}
.fa-angle-double-left:before {
  content: "1";
}
.fa-angle-double-right:before {
  content: "2";
}
.fa-plus:before {
  content: "b";
}
.fa-random:before {
  content: "c";
}
